/* ----------- HEADER ----------- */

.navbar {
    background-color: #cc3838;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #8c2323;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
/* Arreglos generales del Boddy */

/* Textos */

h1 {
    align-items: center;
    text-decoration: solid;
    color: #000000;
    justify-content: center;
    justify-items: center;
    display: flex;
}

h2 {
    font-size: 5vh;
    text-decoration: solid;
    color: #000000;
}

h3 {
    text-decoration: solid;
    color: #000000;
}

h4 {
    font-size: 5vh;
    text-decoration: solid;
    color: #000000;
}

h5 {
    color: black;
}

body {
    padding: 20px;
    font-family: sans-serif;
    gap: 15px;
}

img {
    width: 25%; 
    height: auto;
    max-height: 1000px;
}

p {
    text-decoration: solid;
    color: #000000;
}

/* Objetos */

hr {
    color: #ffffff;
    font-size: 2px;
}

.logo1{
    max-width: 400px;
    max-height: 400px;
    align-items: center;
}